body {
    font-family: 'Quicksand', sans-serif;
    color: #707070;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #707070;
}

a:hover {
    text-decoration: none;
    color: #fcdfa7;
}

p {
    font-size: 1rem;
}

section {
    padding: 48px 0;
}

.theme-bg {
    background: #fcdfa7;
}

.theme-color {
    color: #fcdfa7;
}

.navbar {
    padding: 12px 15px;
}

.navbar-nav .nav-item.active {
    color: #fcdfa7;
}

.navbar-nav .book_now {
    background-color: #fdcbec;
    color: #fff;
    border-radius: 10px;
    margin-right: 50px;
}

.navbar-nav .book_now a.nav-link {
    color: #FFF;
}

a.book-now-link {
    background-color: #fdcbec;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fcdfa7;
}

.nav-link.dropdown-toggle::after {
    display: none;
    content: "";
}

header.masthead {
    position: relative;
    background-color: #FFF;
    background-size: cover;
    padding-top: 76px;
    padding-bottom: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.about_l {
    position: relative;
}

.about_l:after {
    background: url(../images/about_img_bg.jpg) no-repeat 0 top;
    width: 691px;
    height: 1009px;
    position: absolute;
    top: -160px;
    left: 0;
    content: "";
    background-size: 70%;
}

.about_l img {
    width: 50%!important;
    position: relative!important;
    z-index: 999!important;
}

.about_error {
    position: relative;
}

.about_error:after {
    background: url(../images/about_img_bg.jpg) no-repeat 0 top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -160px;
    left: 0;
    content: "";
    background-size: 70%;
}

.home_about {
    left: -100px;
}

.shoots-Head {
    position: relative;
    font-size: 30px;
    margin-bottom: 64px;
    font-weight: 600;
}

.shoots-Head2 {
    position: relative;
    font-size: 1.75rem;
    margin-bottom: 48px;
    font-weight: 600;
}

.shoots-Head::after,
.shoots-Head2::after {
    content: "";
    width: 30px;
    height: 4px;
    background: #fcdfa7;
    position: absolute;
    left: 0;
    bottom: -6px;
}

.package-card {
    font-size: 1.05rem;
    line-height: 1.35;
    color: #707070;
    padding-left: 15px;
}

a .package-card:hover {
    text-decoration: none;
    border: 1px solid #fcdfa7;
}

p.package-price-tag {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}

.package-card .package-head,
.package-card h5 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.5;
}

.package-card .package-head {
    margin-bottom: 8px;
    position: relative;
}

.package-card .package-head:after {
    content: "";
    width: 40px;
    height: 2px;
    background: #fcdfa7;
    position: absolute;
    left: -8px;
    bottom: 2px;
}

.package-card ul {
    margin-bottom: 5px;
}

.package-card img {
    object-fit: cover;
}

.reservation {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #707070;
}

.reservation h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.5;
}

.about-para {
    font-weight: 600;
    line-height: 1.4;
}

.btn-outline-primary {
    border-color: #fcdfa7;
    color: #fcdfa7;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #fcdfa7;
    border-color: #fcdfa7;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #fcdfa7;
    border-color: #fcdfa7;
}

.btn-rounded {
    border-radius: 24px;
}

.personal-information {
    font-size: 1.1rem;
}

.form-group label {
    color: #fcdfa7;
    font-weight: 600;
    font-size: 1.5rem;
}

.form-control-plaintext {
    font-weight: 600;
    color: #58595b;
    font-size: 1.5rem;
}

.form-check-input {
    width: 24px;
    height: 24px;
    margin-top: 12px;
}

.form-check label {
    padding-left: 1.5rem;
}

footer.footer {
    color: #707070;
    padding-top: 7rem;
    padding-bottom: 1.5rem;
    position: relative;
}

footer.footer:before {
    width: 320px;
    height: 403px;
    position: absolute;
    bottom: 0;
    left: 15px;
    content: "";
    background: url(../images/footer_bg.png) no-repeat 0 bottom;
    background-size: 60%;
}

.homebooknow {
    background: url(../images/color_bar1.png) repeat-x 0 top;
    padding: 60px 0 40px 0;
    background-position: center;
}

.homebooknow ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 1140px;
    margin: 0 auto;
}

.homebooknow ul li {
    display: inline-block;
    width: 488px;
    height: 318px;
    margin: 10px;
    vertical-align: top;
}

.homebooknow ul li a {
    display: block;
    width: 488px;
    height: 305px;
}

.homebooknow ul li a {
    color: #fff;
}

.homebooknow ul li a img {
    width: 100%;
    height: 100%;
}

.packages_new {
    background: url(../images/color_bar1.png) repeat-x 0 top;
    padding: 48px 0 100px 0;
    background-position: center;
    width: 100%;
}

.packages_box {
    background: #fff;
    margin-bottom: 30px;
}

.packages_box img {
    border-radius: 3px;
}

.packages_box h3 {
    padding: 10px 10px 10px 10px;
    margin: 0;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.packages_box p {
    padding: 0 10px 0 10px;
    margin: 0;
    color: #707070;
    font-size: 15px;
    font-weight: 300;
}

.packages_box h5 {
    text-align: center;
    color: #ee4444;
    font-size: 20px;
    font-weight: 600;
    padding: 60px 10px 25px 0;
    margin: 0;
}

.packages_box a {
    background: #ECC8FC;
    padding: 20px 0;
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.footer p {
    font-size: 1.4rem;
}

footer a {
    color: #707070;
}

.contact-details a.h5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

.form-control-lg {
    padding: .75rem 1rem;
    height: 54px;
}

.contact-form .btn,
.personal-information .btn,
.reservation-calender-btn .btn {
    color: #707070;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
}

.contact-form .btn:hover,
.personal-information .btn:hover,
.reservation-calender-btn .btn:hover {
    color: #FFF;
}

.personal-information .form-group {
    margin-bottom: 2rem;
}

.personal-information .btn {
    margin-top: 1.5rem;
}


/*************GALLERY GRID CSS*************/

.gallery-grid {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    padding: 0px 15px 0 15px;
}

.column {
    -ms-flex: 25%;
    /* IE 10 */
    flex: 25%;
    padding: 0;
}

.column img {
    margin-top: 0;
    vertical-align: middle;
}


/********Calender Widget CSS*********/

.calendar {
    height: 515px;
    perspective: 1000;
    transition: .9s;
    transform-style: preserve-3d;
    width: 100%;
}


/* Front - Calendar */

.front {
    transform: rotateY(0deg);
}

.current-date {
    border-bottom: 1px solid #FFF;
    padding: 15px 0px;
}

.current-date h3 {
    color: #111;
    font-size: 2rem;
    font-weight: 700;
}

.current-date h4 {
    color: #111;
    font-size: 1.5rem;
    font-weight: 700;
}

.week-days {
    list-style: none;
    color: #999;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 20px 0px;
}

.days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weeks {
    color: #333;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.weeks div {
    display: flex;
    font-size: 1.2em;
    font-weight: 700;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.last-month {
    opacity: .35;
}

.weeks span {
    padding: 10px 15px;
}

.weeks span.active {
    color: #111;
    border: 2px solid #111;
}

.weeks span:not(.last-month):hover {
    cursor: pointer;
    font-weight: 600;
}

.event {
    position: relative;
}

.event:after {
    content: '•';
    color: #fcdfa7;
    font-size: 1.4em;
    position: absolute;
    right: -4px;
    top: -4px;
}

.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
    box-shadow: 0 0 5px 5px #fcdfa7
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #fcdfa7;
    color: white;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}

.booknowbox {
    background: url(../images/booknow_img24.jpg) no-repeat 0 top;
    width: 488px;
    height: 318px;
    background-size: 100%;
    padding-top: 56px;
}

.booknowbox {
    text-align: center;
}

.booknowbox h3 {
    padding: 12px 0 37px 0;
    margin: 0;
    color: #fff;
    font-size: 21px;
    font-family: 'Quicksand', sans-serif;
}

.booknowbox a {
    padding: 12px 43px!important;
    color: #fff;
    font-size: 25px;
    display: inline-block!important;
    background: #fdcbec;
    width: auto!important;
    height: auto!important;
}

.booknowbox h2 {
    padding: 7px 0 0 0;
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: normal;
}

.booknowbox h5 {
    padding: 10px 0 0 0;
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: normal;
}

.package_box_img {
    height: 200px;
    overflow: hidden;
}

.package_box_img img {
    height: 100%;
    width: auto;
    max-width: auto!important;
}

.package_border {
    border: #ccc solid 1px;
    padding: 8px;
    margin-bottom: 10px;
}

.package_border:hover {
    border: #fcdfa7 solid 1px;
}

.textcenterheading {
    text-align: center;
}

.textcenterheading:after {
    left: 0;
    right: 0;
    margin: 0 auto;
}

#return-to-top {
    position: fixed;
    bottom: 117px;
    right: 125px;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
}

.packagetype_select {
    width: 200px;
    height: 34px;
    border: #ccc solid 1px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 1.1rem;
    padding: 0 10px;
}

#sync1 .item img,
#sync2 .item img {
    width: 100%;
}

#sync2 .item img {
    width: 95%;
    margin: 3px !important;
}

.desktopbox {
    display: block;
}

.mobilebox {
    display: none;
}

.flex-direction-nav a {
    height: 50px!important;
}

.flexslider {
    margin: 0!important;
}


/*.gallery_panel{
padding:128px 0 0 0!important;}*/

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}


/*  Examples Section */

.examples {
    max-width: 700px;
    background-color: #fff;
    margin: 0 auto 75px;
    padding: 30px 50px;
    color: #4c4e56;
}

.examples-note {
    text-align: center;
    font-size: 14px;
    max-width: 370px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color: #7a7a7a;
}

.examples table {
    margin: 5px 0 0 0;
    font-size: 14px;
}


/**===== bars1 =====*/

#bars1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
}

#bars1 span {
    position: absolute;
    display: block;
    bottom: 10px;
    width: 9px;
    height: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-animation: bars1 1.5s infinite ease-in-out;
    animation: bars1 1.5s infinite ease-in-out;
}

#bars1 span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#bars1 span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#bars1 span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#bars1 span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

@keyframes bars1 {
    0% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: rgba(0, 0, 0, 0.25);
    }
    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #000000;
    }
    50% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: rgba(0, 0, 0, 0.25);
    }
}

@-webkit-keyframes bars1 {
    0% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: rgba(0, 0, 0, 0.25);
    }
    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #000000;
    }
    50% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        height: 5px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        background: rgba(0, 0, 0, 0.25);
    }
}


/** END of bars1 */

@media only screen and (min-width:200px) and (max-width:767px) {
    .homebooknow ul li a {
        display: block;
        width: auto;
        height: auto;
    }
    .about_l:after {
        display: none;
    }
    .about_l img {
        width: 90%!important;
        position: relative!important;
        z-index: 999!important;
        margin-bottom: 30px!important;
    }
    .about_l {
        position: relative;
        height: auto;
        margin-bottom: 30px;
    }
    .home_about {
        left: 0;
    }
    .homebooknow ul {
        width: 100%;
        padding: 0 15px;
    }
    .homebooknow ul li {
        width: 100%;
        margin: 0 0 15px 0;
        min-height: 190px;
        height: auto;
    }
    footer.footer:before {
        width: 190px;
        height: 403px;
        position: absolute;
        bottom: 0;
        left: 15px;
        content: "";
        background: url(../images/footer_bg.png) no-repeat 0 bottom;
        background-size: 60%;
    }
    .booknowbox h3 {
        padding: 12px 0 6px 0;
    }
    .booknowbox a {
        padding: 8px 43px!important;
        font-size: 15px;
    }
    #return-to-top {
        right: 30px;
    }
    #return-to-top img {
        width: 100%;
    }
    .desktopbox {
        display: none;
    }
    .mobilebox {
        display: block;
    }
    .reservation-calender-btn {
        max-width: 100%!important;
    }
}

@media only screen and (min-width:320px) and (max-width:479px) {
    .booknowbox {
        width: 290px;
        padding-top: 8px;
        height: 200px;
        /* height: auto; */
        background-size: 100%;
        margin: 0 auto;
    }
    .homebooknow ul li a img {
        width: 290px;
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .booknowbox {
        width: 380px;
        padding-top: 8px;
        height: 240px;
        /* height: auto; */
        background-size: 100%;
        margin: 0 auto;
    }
    .homebooknow ul li a img {
        width: 380px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .homebooknow ul li a {
        display: block;
        width: auto;
        height: auto;
    }
    .booknowbox {
        width: 700px;
        padding-top: 78px;
        height: 460px;
        margin: 0 auto;
    }
    .homebooknow ul li a img {
        width: 700px;
    }
    .about_l:after {
        background: url(../images/about_img_bg.jpg) no-repeat 0 top;
        width: 100%;
        height: 959px;
        position: absolute;
        top: -75px;
        left: 0;
        content: "";
        background-size: 70%;
    }
    .about_l {
        position: relative;
        height: 270px;
    }
    .home_about {
        left: 0;
    }
    .homebooknow ul {
        width: 100%;
        padding: 0 15px;
    }
    .homebooknow ul li {
        width: 100%;
        margin: 0 0 15px 0;
        min-height: 500px;
    }
    footer.footer:before {
        width: 190px;
        height: 403px;
        position: absolute;
        bottom: 0;
        left: 15px;
        content: "";
        background: url(../images/footer_bg.png) no-repeat 0 bottom;
        background-size: 60%;
    }
    .booknowbox h3 {
        padding: 12px 0 6px 0;
    }
    .booknowbox a {
        padding: 8px 43px!important;
        font-size: 25px;
    }
    .homebooknow ul li {
        display: block;
    }
    .homebooknow ul {
        width: 100%!important;
    }
    .booknowbox h3 {
        font-size: 44px;
    }
    .booknowbox h2 {
        font-size: 26px;
    }
    .booknowbox h5 {
        font-size: 24px;
    }
    .desktopbox {
        display: none;
    }
    .mobilebox {
        display: block;
    }
}

@media only screen and (min-width992px) and (max-width:1199px) {
    .about_l:after {
        width: 521px;
        top: -114px;
    }
    .homebooknow ul {
        width: 1000px!important;
    }
}

@media(min-width: 1700px) {
    .about_l:after {
        top: -60px;
    }
}

@media(min-width: 2200px) {
    .about_l:after {
        top: 0px;
        background-size: 100% 66%;
    }
    .about_l {
        position: relative;
        padding: 100px 0 0 0;
    }
    .about_l img {
        width: 30%!important;
    }
}